@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Variables*/
:root {
    --fuentemain: "Raleway", sans-serif;
    --fuentesecond: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Navbar Style*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: #000;
    font-family: var(--fuentemain);
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #3d5c5c;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #3d5c5c;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}
.navbar.sticky .logo i {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #3d5c5c;
}

.navbar.sticky .menu li a:hover {
    color: #111;
}


/*Btn*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #3d5c5c;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*Home Style*/
.home {
    display: flex;
    height: 100vh;
    color: #fff;
    background-image: url("https://images.unsplash.com/photo-1572061485775-deab4249c8b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    font-family: var(--fuentemain);
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px; /*No hace nada*/
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #fff;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #3d5c5c;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3d5c5c;
    transition: all 0.5s ease;
}

.home .home-content a:hover {
    color: #3d5c5c;
    background: white;
}

/*Estilos similares*/
section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: var(--fuentemain);
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 4px;
    background: #fff;
    transform: translateX(-50%);
}

/*footer*/
footer {
    padding: 20px 23px;
    color: #111;
    text-align: center;
}

footer span a{
    color: #3d5c5c;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/*Responsive Media Query*/
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
}
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
    padding: 0 50px;
}
}

@media (max-width: 947px) {

    .menu-btn {
    display: block;
    z-index: 999;
}

    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 40px;
}

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 9px 27px
    }
@media (max-width: 510px) {

    .home .home-content .text-2 {
        font-size: 45px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .home .home-content a {
        padding: 5px 20px
    }
}

@media (max-width: 390px) {
    .home .home-content .text-2 {
        font-size: 40px;
    }

    .home .home-content .text-3 {
        font-size: 26px;
    }
}

@media (max-width: 362px) {
    .navbar .logo a {
    font-size: 25px;
}

    .navbar .logo i {
    font-size: 22px;
}

    .home .home-content .text-1 .text-2 {
        font-size: 20px;
    }

    .home .home-content .text-3 {
        font-size: 20px;
    }

    footer {
    padding: 20px 23px;
    font-size: 15px;
    font-family:"Raleway", sans-serif;
}
}
